<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busanit.mapper.JoinMapper">
	
	<select id = "getlogin" resultType="com.busanit.domain.register_VO">
		SELECT * FROM member WHERE id = #{USERID} AND passed = #{USERPW}
	</select>

	
	<insert id="insert">
		INSERT INTO member(id, passwd, name, addr)
			VALUES(#{id}, #{passwd}, #{name}, #{addr}) 
	</insert>

</mapper>