<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout2}">

<div layout:fragment="content" class="login">
		<div class="main-agileits">
			<div class="form-w3agile">
				<h3>회원가입</h3>
				<form action="/members/new" method="post">
					<div class="key">
						<i class="fa fa-user" aria-hidden="true"></i>
						<input type="text" name="name" required="" placeholder="이름을 입력해주세요">
						<div class="clearfix"></div>
					</div>
					<div class="key">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<input type="text" name="email" required="" placeholder="이메일을 입력해주세요">
						<div class="clearfix"></div>
					</div>
					<div class="key">
						<i class="fa fa-lock" aria-hidden="true"></i>
						<input type="password" name="password" required="" placeholder="비밀번호를 입력해주세요">
						<div class="clearfix"></div>
					</div>
					<div class="key">
						<i class="fa fa-lock" aria-hidden="true"></i>
						<input type="text" name="address" required="" placeholder="주소를 입력해주세요">
						<div class="clearfix"></div>
					</div>
					<input type="submit" value="회원가입">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</form>
			</div>
		</div>
	</div>
</html>